*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
center{
    position: relative;
    margin: 20px auto;
    width: 600px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: greenyellow;
    color: rgb(30, 5, 111);
    font-weight:bold;
    border: 5px solid white;
    border-radius:20px;

}
#calculadora{
    width:320px;
    background:#2c2c2c;
    padding:20px;
    border-radius:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
    margin:auto;
}

#operaciones{
    width:100%;
    height:70px;
    background:black;
    color:#00ff99;
    font-size:40px;
    text-align:right;
    line-height:70px;
    border-radius:10px;
    margin-bottom:20px;
    padding-right:10px;
    box-sizing:border-box;
    overflow:hidden;
}

ul{
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
}

li{
    list-style:none;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:25px;
    border-radius:10px;
    cursor:pointer;
    user-select:none;
    transition:0.2s;
}

/* Números */
.numero{
    background:#4a4a4a;
    color:white;
}

.numero:hover{
    background:#666;
}

/* Operadores */
.simbolo{
    background:#ff9500;
    color:white;
}

.simbolo:hover{
    background:#ffad33;
}

/* Igual */
.igual{
    background:#34c759;
    color:white;
}

.igual:hover{
    background:#4cd964;
}

/* Decimal */
.decimal{
    background:#4a4a4a;
    color:white;
}

.decimal:hover{
    background:#666;
}

/* Botón borrar */
#borrar{
    margin-top:15px;
    background:#ff5930;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    transition:0.2s;
}

#borrar:hover{
    background:#ff5e57;
}
.raiz,
.seno,
.coseno,
.potencia{
    background:#5856d6;
    color:white;
}

.raiz:hover,
.seno:hover,
.coseno:hover,
.potencia:hover{
    background:#7d7aff;
}